@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --text-color: #262626;
    --subheading-color: #828282;
    --placeholder-color: #868686;
    --primary-color: #c9c9c9;
    --secondary-color: #383838;
    --secondary-hover-color: #444; 
}

#chart, h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.input-wrapper {
  margin: 4px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 60%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.action-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-container{
    background: transparent;
    height: 10%;
}
.form-container :where(.typing-form, .action-buttons){
  display: flex;
  gap: 0.75rem;
}
.form-container .typing-input{
 border: none;
 outline: none;
 font-size: 1rem;
 color: var(--text-color);
 border-radius: 6.2rem;
 border: 2px solid #333;
 background: var(--primary-color);
}

.form-container .typing-input::placeholder{
  color: var(--placeholder-color);
}
.form-container .icon{
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-color);
}

.typing-input{
  margin: 4px;
  padding: 2px;
  width: 80%;
  height: 80%;
  }

#dark-mode-toggle {
    background-color: #333;
    color: #fff;
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}
body.dark-mode .form-container{
    background-color: #333;
}
body.dark-mode .container{
    background-color: #555;
}
body.dark-mode #dark-mode-toggle {
    background-color: #fff;
    color: #333;
}
body.dark-mode .icon{
  background: var(--secondary-color);
}
body.dark-mode .typing-input{
  border: 2px solid #5a5a5a;
  color: var(--primary-color);
  background: var(--secondary-color);
}